<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtnlf224MufEFME-fu60U03aPbOgrA3b0</string>
	<key>GCM_SENDER_ID</key>
	<string>273087548078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joe.c4sut8ne</string>
	<key>PROJECT_ID</key>
	<string>app10-ee2e2</string>
	<key>STORAGE_BUCKET</key>
	<string>app10-ee2e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273087548078:ios:1394b8f7a661d9b89dbb3f</string>
</dict>
</plist>